.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 15%;
  background-color: #000000;
  color: #00d400;
  font-family: "Pixelify Sans";
}

.content h1 {
  margin-top: -150px;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}

.cursor {
  display: inline-block;
  margin-left: 5px;
  color: #00d400;
  animation: blink 1s steps(2, start) infinite;
  font-weight: bold;
  font-size: 1em;
}

.imageContainer {
  z-index: 1;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
