.bode {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: var(--background-50);
  font-family: "Inter", sans-serif;
  color: var(--text-950);
}

.profile {
  margin-left: 50px;
  display: flex;
  align-items: center;
  margin-right: 100px;
  justify-content: space-between;
  max-width: 35rem;
  padding: 3rem 2rem 3rem 1.25rem;
  background: #080808;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
  border-radius: 1.5rem;
  transition: all 0.2s ease-in-out;
}

.profile_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: 2rem;
}

.profile:hover {
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.329) 0px 6px 12px;
}

.profile_preview {
  position: relative;
  max-width: 30rem;
  min-width: 18rem;
  width: 100%;
  margin-left: -4rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.profile_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile_preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}

.profile_content {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
}

.profile_footer {
  margin-top: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.profile p {
  font-size: 1.075rem;
  font-weight: 400;
}

.profile_skills {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.profile_skill:hover {
  color: white;
}

.profile_skill_java {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 800;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 1rem;
  color: #61dafb;
  border: 2px solid #61dafb;
}

.profile_skill_java p {
  color: white;
}

.profile_skill_java:hover {
  background: #61dafb;
}

.profile_skill_cibersecurity {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 800;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 1rem;
  color: #42b883;
  border: 2px solid #42b883;
}

.profile_skill_cibersecurity p {
  color: white;
}

.profile_skill_cibersecurity:hover {
  background: #42b883;
}

.btn {
  background: var(--primary-300);
  color: white;
  font-family: inherit;
  text-align: center;
  padding: 1rem 1.5rem;
  font-size: 1.125rem;
  min-width: 13rem;
  border-radius: 2.5rem;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background: var(--primary-600);
}
