services:
  db:
    image: postgis/postgis:15-3.3
    container_name: pwnned-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  mongodb:
    image: mongo:latest
    container_name: pwnned-mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}

  redis:
    image: redis:alpine
    container_name: pwnned-redis
    ports:
      - "6379:6379"

  minio:
      image: minio/minio:latest
      container_name: pwnned-minio
      ports:
        - "9000:9000"
        - "9001:9001"
      environment:
        MINIO_ROOT_USER: ${MINIO_ACCESS_KEY}
        MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY}
        MINIO_SERVER_URL: "http://localhost:9000"
        MINIO_BROWSER_REDIRECT_URL: "http://localhost:9001"
      command: server /data --console-address ":9001"
      healthcheck:
        test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
        interval: 10s
        timeout: 5s
        retries: 3

  pwnned-backend:
    build: ./backend
    container_name: pwnned-backend
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/app
      - maven-data:/root/.m2  
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      minio:
        condition: service_healthy
      mongodb:
        condition: service_started
      redis:
        condition: service_started

  pwnned-front:
    build: ./front
    container_name: pwnned-front
    ports:
      - "5173:5173"
    volumes:
      - ./front:/app
      - /app/node_modules
    environment:
      - VITE_WATCH_USE_POLLING=true
    depends_on:
      - pwnned-backend

volumes:
  maven-data: 