.header {
  width: 100%;
  height: 60px;
  padding: 0 30px;
  background-color: var(--background-50);
  color: var(--text-950);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  font-family: "Pixelify Sans";
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.authLinks {
  display: flex;
  gap: 30px;
  font-size: 1.2rem;
  font-weight: bold;
}

.link {
  color: var(--text-950);
  text-decoration: none;
}

.signupButton {
  color: var(--text-950);
  text-decoration: none;
}
