@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-blue: #3f8cff;
  --primary-blue-dark: #4361ee;
  --text-white: #f7faff;
  --text-gray: #b5b8bc;
  --text-color: #303651;
  --text-color-neutral: #697089;
  --card-bg: #222429;
  --bg: #141419;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-50: #e7ecfd;
    --text-100: #d0dafb;
    --text-200: #a1b5f7;
    --text-300: #7190f4;
    --text-400: #426bf0;
    --text-500: #1346ec;
    --text-600: #0f38bd;
    --text-700: #0b2a8e;
    --text-800: #081c5e;
    --text-900: #040e2f;
    --text-950: #020718;

    --background-50: #e8ebfd;
    --background-100: #d0d7fb;
    --background-200: #a2b0f6;
    --background-300: #7388f2;
    --background-400: #4461ee;
    --background-500: #1639e9;
    --background-600: #112ebb;
    --background-700: #0d228c;
    --background-800: #09175d;
    --background-900: #040b2f;
    --background-950: #020617;

    --primary-50: #e8edfd;
    --primary-100: #d0dafb;
    --primary-200: #a1b5f7;
    --primary-300: #7290f3;
    --primary-400: #436bef;
    --primary-500: #1446eb;
    --primary-600: #1038bc;
    --primary-700: #0c2a8d;
    --primary-800: #081c5e;
    --primary-900: #040e2f;
    --primary-950: #020717;

    --secondary-50: #fbe8fd;
    --secondary-100: #f7d0fb;
    --secondary-200: #eea1f7;
    --secondary-300: #e672f3;
    --secondary-400: #de43ef;
    --secondary-500: #d514eb;
    --secondary-600: #ab10bc;
    --secondary-700: #800c8d;
    --secondary-800: #55085e;
    --secondary-900: #2b042f;
    --secondary-950: #150217;

    --accent-50: #fde8f5;
    --accent-100: #fbd0eb;
    --accent-200: #f7a1d7;
    --accent-300: #f372c4;
    --accent-400: #ef43b0;
    --accent-500: #eb149c;
    --accent-600: #bc107d;
    --accent-700: #8d0c5e;
    --accent-800: #5e083e;
    --accent-900: #2f041f;
    --accent-950: #170210;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-50: #020718;
    --text-100: #040e2f;
    --text-200: #081c5e;
    --text-300: #0b2a8e;
    --text-400: #0f38bd;
    --text-500: #1346ec;
    --text-600: #426bf0;
    --text-700: #7190f4;
    --text-800: #a1b5f7;
    --text-900: #d0dafb;
    --text-950: #e7ecfd;

    --background-50: #020617;
    --background-100: #050c2e;
    --background-200: #09195d;
    --background-300: #0e258b;
    --background-400: #1231ba;
    --background-500: #173de8;
    --background-600: #4564ed;
    --background-700: #748bf1;
    --background-800: #a2b2f6;
    --background-900: #d1d8fa;
    --background-950: #e8ecfd;

    --primary-50: #020717;
    --primary-100: #040e2f;
    --primary-200: #081c5e;
    --primary-300: #0c2a8d;
    --primary-400: #1038bc;
    --primary-500: #1446eb;
    --primary-600: #436bef;
    --primary-700: #7290f3;
    --primary-800: #a1b5f7;
    --primary-900: #d0dafb;
    --primary-950: #e8edfd;

    --secondary-50: #150217;
    --secondary-100: #2b042f;
    --secondary-200: #55085e;
    --secondary-300: #800c8d;
    --secondary-400: #ab10bc;
    --secondary-500: #d514eb;
    --secondary-600: #de43ef;
    --secondary-700: #e672f3;
    --secondary-800: #eea1f7;
    --secondary-900: #f7d0fb;
    --secondary-950: #fbe8fd;

    --accent-50: #170210;
    --accent-100: #2f041f;
    --accent-200: #5e083e;
    --accent-300: #8d0c5e;
    --accent-400: #bc107d;
    --accent-500: #eb149c;
    --accent-600: #ef43b0;
    --accent-700: #f372c4;
    --accent-800: #f7a1d7;
    --accent-900: #fbd0eb;
    --accent-950: #fde8f5;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  background: #000;
  position: relative;
  height: 100vh;
  color: #00ff40;
}

.animationContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.15;
  font-family: monospace;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  -webkit-mask-image: radial-gradient(
    300px circle at var(--x) var(--y),
    #000 20%,
    rgba(0, 0, 0, 0.25),
    transparent
  );
  mask-image: radial-gradient(
    300px circle at var(--x) var(--y),
    #000 20%,
    rgba(0, 0, 0, 0.25),
    transparent
  );
  user-select: none;
}

.animationContainer:hover {
  opacity: 0.5; /* Opacidade quando o mouse está sobre .animationContainer */
}
