@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-blue: #3f8cff;
  --primary-blue-dark: #4361ee;
  --text-white: #f7faff;
  --text-gray: #b5b8bc;
  --text-color: #303651;
  --text-color-neutral: #697089;
  --card-bg: #222429;
  --bg: #141419;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  background: #000;
  position: relative;
  height: 100vh;
  color: #00ff40;
}

.animationContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.15;
  font-family: monospace;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  -webkit-mask-image: radial-gradient(
    300px circle at var(--x) var(--y),
    #000 20%,
    rgba(0, 0, 0, 0.25),
    transparent
  );
  mask-image: radial-gradient(
    300px circle at var(--x) var(--y),
    #000 20%,
    rgba(0, 0, 0, 0.25),
    transparent
  );
  user-select: none;
}

.animationContainer:hover {
  opacity: 0.5; /* Opacidade quando o mouse está sobre .animationContainer */
}
