.pathPage {
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
}

.sidebar {
  width: 20rem;
  height: 200vh;
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  padding: 5rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--text-900);
  text-align: justify;
}

.contentTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
