.about {
  padding: 80px 0;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-100);
  color: var(--text-800);
  font-family: "Pixelify Sans";
  text-align: center;
}

.content h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
  color: var(--text-800);
}
