.info {
  display: flex;
  align-items: center;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.userInfo h1 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: -1rem;
}

.userInfo p {
  color: rgb(121, 121, 121);
}

.separator {
  border: 1px solid var(--background-200);
  border-radius: 10px;
  width: 100%;
  opacity: 0.6;
  margin: 20px auto;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  font-weight: 600;
}

.formGroup label {
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 3px solid transparent;
  background-color: transparent;
}

.formGroup input {
  align-items: center;
  width: 50%;
  padding: 8px;
  border: 2px solid rgba(121, 121, 121, 0.474);
  border-radius: 0.5rem;
  font-size: 14px;
}

.passwordInputContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 53%;
}

.passwordToggleButton {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.passwordToggleButton img {
  width: 20px;
  height: 20px;
}
