</div> </div> <footer class="gov-footer">
        <p>&copy; 2005 Prefeitura Municipal de Pwn City - Todos os direitos reservados.</p>
        <p>Endereço: Rua dos Bobos, nº 0 - Centro.</p>
        <p>Desenvolvido por: <strong>Fi do Prefeito Web Solutions Ltda.</strong></p>
        <br>
        <small>Melhor visualizado no Internet Explorer 6.0 com resolução 800x600.</small>
    </footer>

    <script>
        console.log("Sistema do Governo Carregado. Bugs esperados: Sim.");
    </script>
</body>
</html>