.optionsCard {
  min-width: 15rem;
}

.info {
  display: flex;
  align-items: center;
}

.userInfo {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
}

.userInfo h1 {
  font-weight: bold;
  margin-bottom: -0.5rem;
  font-size: 1rem;
}

.userInfo p {
  color: rgb(121, 121, 121);
}

.separator {
  border: 1px solid var(--background-200);
  opacity: 0.6;
  border-radius: 10px;
  width: 100%;
  margin: 10px auto 10px;
}

.options a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options > div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  justify-content: space-between;
  transition: background-color 0.3s ease;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  user-select: none;
}

.options > div:hover {
  background-color: var(--background-200);
}

.iconNameContainer {
  display: flex;
  align-items: center;
}
